.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-image-1 {
  height: 377px;
  background-image: url("images/41.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: -9px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 36px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    margin-bottom: 0;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: url("images/IMG_53401.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 820px;
}

.u-section-2 .u-image-1 {
  width: 226px;
  height: 319px;
  margin: 22px -15px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.11111rem;
  background-image: none;
  margin: 136px 0 0 auto;
  padding: 17px 30px 18px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 0 0 315px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 23px 0 44px 304px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-image-1 {
    height: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.27778rem;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-size: 130%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 113px;
    margin-right: -39px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 8px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 897px;
}

.u-section-3 .u-image-1 {
  width: 536px;
  height: 352px;
  object-position: 47.04% 44.22%;
  margin: 88px 18px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -271px auto 0 17px;
}

.u-section-3 .u-text-2 {
  margin: 16px 570px 0 17px;
}

.u-section-3 .u-image-2 {
  width: 536px;
  height: 352px;
  object-position: 77.3% 50%;
  margin: 100px 18px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 536px;
  height: 352px;
  margin: -352px auto 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-3 .u-image-1 {
    height: 353px;
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 39px;
    margin-left: auto;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1449px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -568px;
    margin-left: 84px;
  }

  .u-section-3 .u-text-2 {
    width: 553px;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 409px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 28px;
    margin-bottom: -155px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-3 .u-image-1 {
    height: 351px;
    margin-top: 338px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -617px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 445px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 47px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-3 .u-image-1 {
    height: 223px;
    margin-top: 451px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -603px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 223px;
    margin-top: 314px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 223px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/FullHouse_B_Chu.jpg");
  background-position: 50% 50%;
  min-height: 820px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 689px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 14px 30px 22px;
}

.u-section-4 .u-image-1 {
  width: 402px;
  height: 602px;
  object-position: 50% 100%;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 689px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-text-1 {
  margin: 92px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.11111rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.11111rem;
  background-image: none;
  letter-spacing: normal;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 687px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 568px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 888px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 137px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 449px;
    margin-top: 83px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1329px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-4 .u-image-1 {
    width: 434px;
    height: 602px;
    margin-top: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 613px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-4 .u-image-1 {
    height: 471px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 129px;
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/photoop.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 828px;
}

.u-section-6 .u-text-1 {
  font-size: 3.77778rem;
  font-weight: 700;
  width: 792px;
  margin: 56px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 497px;
  width: 812px;
  margin: 36px auto 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-back-image-3 {
  object-position: 0% 0%;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-back-image-4 {
  object-position: 50% 95.49%;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-6 .u-back-image-6 {
  object-position: 50% 17.4%;
}

.u-section-6 .u-over-slide-6 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-image-1 {
  width: 89px;
  height: 146px;
  margin: -223px auto 0 174px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.11111rem;
  margin: 123px auto 60px;
  padding: 9px 70px 11px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -218px;
    margin-left: 74px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -221px;
    margin-left: 11px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}