.u-section-1-1 {
  background-image: url("images/ShentonH.C.HowardVisitingaPrison.jpeg");
  background-position: 50% 50%;
  background-size: 140%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  width: 909px;
  font-weight: normal;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-size: auto 180%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/WallHangPlan1.jpg");
  background-position: 50% 50%;
  background-size: auto 165%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 399px;
  margin: 282px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 4.5rem;
  width: 909px;
  font-style: italic;
  font-weight: normal;
  margin: 17px auto 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 43px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    width: 239px;
    margin-top: 166px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 15px;
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/41.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  width: 358px;
  margin: 285px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 909px;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 47px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 182px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 {
    background-size: auto 170%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 168px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 {
    background-size: 170%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 31px;
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1-3 .u-text-1 {
    width: 340px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3rem;
    margin-top: 26px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 26px;
  }
}.u-block-ae36-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-ae36-3 {
  position: absolute;
  left: 0;
}

.u-block-ae36-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-line-1 {
  top: 225px;
  height: 216px;
  position: absolute;
  width: 8px;
  transform-origin: center top 0px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 119px 546px 0 25px;
}

.u-section-2 .u-video-1 {
  height: 342px;
  width: 570px;
  margin: 3px auto 0 570px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -369px 604px 0 17px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -28px 49px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-2 .u-line-1 {
    top: 681px;
    left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 570px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 570px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 570px;
    margin-top: -388px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    top: 686px;
    left: 49px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-right: 101px;
    margin-left: 75px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -398px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    left: -20px;
    top: 679px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-top: -410px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-2 .u-line-1 {
    top: 869px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-video-1 {
    height: 264px;
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 55px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-top: -638px;
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 957px;
}

.u-section-3 .u-gallery-1 {
  height: 728px;
  margin-top: 80px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-3 .u-back-image-1 {
  object-position: 46.47% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-back-image-3 {
  object-position: 41.18% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 57.03%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 40px auto;
  padding: 20px 63px 20px 61px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-3 .u-gallery-1 {
    height: 600px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1034px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2726px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3102px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2185px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1953px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: -45px;
    margin-right: -45px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/printcollection2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 850px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 381px 601px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 5px 314px 0 0;
}

.u-section-4 .u-list-1 {
  width: 723px;
  margin: 0 auto 60px -26px;
}

.u-section-4 .u-repeater-1 {
  min-height: 112px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 401px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 181px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 336px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}