#ca-browse-app {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}
#ca-browse-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: gray;
    border-radius: 15px;
    margin: 5px;
}
#ca-browse-objects {
    display: flex;
    flex-grow: 10;
    flex-wrap: wrap;
}
.ca-browse-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.objectCard-image {
    max-width: 33%;
}
.objectCard {
    background-color: gray;
    border-radius: 15px;
    margin: 5px;
    width: 30%;
}