input[type="radio"] {
    display: none;
}
  
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    margin-right: 5px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}
  
input[type="radio"]:checked + label:before {
    background-color: rgb(166, 93, 89);
    border-color: rgb(166, 93, 89);
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
}

#ca-browse-app {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 9%;
    margin-bottom: 1%;
    margin-top: 1%;
}
#ca-browse-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: linear-gradient(to bottom, rgba(76, 111, 158,0.8), rgba(76, 111, 158,0));
    border-radius: 15px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 25%;
}
#ca-browse-objects {
    display: flex;
    flex-grow: 10;
    flex-wrap: wrap;
}
#ca-browse-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ca-browse-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.objectCard-image {
    margin-top: 15px;
    max-width: 90%;
    max-height: 170px;
}
.objectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(166, 93, 89);
    border-radius: 15px;
    margin: 5px;
    width: 31%;
    text-align: center;
    color: black;
    max-height: 400px;
}
.filterCard {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
    border-radius: 10px;
}
#filterCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}