#ca-browse-app {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
}
#ca-browse-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: gray;
    border-radius: 15px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 25%;
}
#ca-browse-objects {
    display: flex;
    flex-grow: 10;
    flex-wrap: wrap;
}
#ca-browse-pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ca-browse-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.objectCard-image {
    margin-top: 15px;
    max-width: 90%;
    max-height: 170px;
}
.objectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border-radius: 15px;
    margin: 5px;
    width: 31%;
    text-align: center;
    color: white;
}