#ca-view-container {
    margin: auto;
    width: 90%;
}
#ca-view-app {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
}
#ca-title {
    margin-bottom: 0px;
    margin-left: 15px;
    font-weight: 700;
}
#ca-view {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#ca-view-image-container {
    width: 50%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ca-view-image {
    border: 6px solid white;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}
#ca-view-info {
    width: 50%;
    margin: 15px;
}
.ca-subtitle {
    margin-bottom: 3px;
    margin-top: 8px;
}
#ca-view-image-fail {
    border: 6px solid white;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: 15px;
}

@media (max-width:1009px){
    #ca-view {
        flex-direction: column;
    }
    #ca-view-info {
        width: 90%;
    }
    #ca-view-image-container {
        width: 90%;
    }
}